:host {
    --footer-height: 80px;
    --navy: #182628;
    --green: #3B945E;
}

#footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--navy);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 40px;
}

/*#links {*/
/*    list-style-type: none;*/
/*    margin-right: 10px;*/
/*    padding: 0;*/
/*}*/

/*.m-link {*/
/*    float: left;*/
/*    margin: 10px;*/
/*    text-decoration: underline;*/
/*}*/

/*.sub-links {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.s-link {*/
/*    text-decoration-line: none;*/
/*}*/