<div id="footer">
    <img id="logo" src="../../../assets/logo_block.png" alt="Tickerstrat.io">
<!--    <div id="right">-->
<!--        <ul id="links">-->
<!--            <li class="m-link">Some link-->
<!--                <ul class="sub-links">-->
<!--                    <li class="s-link">Some sublink</li>-->
<!--                    <li class="s-link">Another sublink</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="m-link">Some other link</li>-->
<!--        </ul>-->
<!--    </div>-->
</div>